.wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.main {
  flex: 1 1 auto;
  height: 100%;
  // background-color: rgb(165, 103, 52);
}

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}